body {
  font-family: "CMU Sans Serif";
  margin: 0;
  --grid-size: calc(100vw / var(--grid-count) / 1);
}

.grid {
  display: grid;
}

.grid > div {
  border: calc(max(0.1vw, 1px)) solid black;
  display: block;
  font-size: calc(var(--grid-size) * 0.5);
}

.centroids, .lines {
  position: absolute;
  margin-top: calc(var(--grid-size) * -8);
}

.centroids > div {
  display: block;
  width: calc(var(--grid-size) * 0.5);
  height: calc(var(--grid-size) * 0.5);
  background-color: aqua;
  position: absolute;
  margin-left: calc(var(--grid-size) * -0.25);
  margin-top: calc(var(--grid-size) * -0.25);
}

.lines > div {
  display: block;
  width: 100px;
  height: calc(var(--grid-size) * 0.1);
  margin-top: calc(var(--grid-size) * -0.05);
  background-color: purple;
  position: absolute;
  transform-origin: left center;
}

#measurements {
  padding-top: 1em;
  font-size: 7vw;
}